<%= link_to new_cocktail_path do %>
  <i id="new-cocktail-button" class="fas fa-plus"></i>
<% end %>

<div class="banner">
  <h1>SEXY COCKTAILS</h1>
</div>

<div class="container">

  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail), class: 'link-to', :action => 'go' do %>
      <div class="card-product">

        <img src="<%= cocktail.image_url %>"/>

        <div class="card-product-infos">
          <h2><%= cocktail.name %></h2>
          <p>
            <% cocktail.doses.each do |dose| %>
              • <%= dose.ingredient.name.capitalize %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
