<div class="wrapper">

  <div class="cocktail-background" style="background-image: url('<%= @cocktail.image_url %>');">
  </div>

  <div class="cocktail-container">
    <div class="cocktail-image">
      <img src="<%= @cocktail.image_url %>" alt="#" style="height: 500px; width: 500px">
    </div>
    <div class="cocktail-infos">
      <h1><%= @cocktail.name %></h1>
      <h3><%= @cocktail.description %></h3>
      <ul>
        <% doses = @cocktail.doses %>
        <% doses.each do |dose| %>
          <li><%= dose.description %> of <%= dose.ingredient.name %></li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
